<a href="https://colab.research.google.com/github/shiful133/r-python/blob/main/Python_Data_Import_Export.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Import-Export in Python**
Importing and exporting data in Google Colab, which is a popular platform for working with Python notebooks, involves using various libraries and methods to handle different file formats. Here's a brief guide on how to perform data import and export in Python Colab:

## Working Directory
In Google Colab, the working directory is set to the root directory by default. This root directory contains the Colab notebooks, and you can access files from your Google Drive as well. However, if you want to navigate and work within a specific directory, you can use the %cd magic command to change the current directory. Here's how you can get and change the working directory in Google Colab:

### Get Current Working Directory:

In [38]:
import os

# Get current working directory
current_directory = os.getcwd()
print("Current Directory:", current_directory)

Current Directory: /content

### Mounting Google Drive:
If you want to access files from your Google Drive or change working directory to a folder in Google Drive, you'll need to mount your Google Drive using the drive.mount() function.

In [2]:
from google.colab import drive

drive.mount('/content/drive')  # Mount Google Drive

Mounted at /content/drive

###Change Working Directory:

In [3]:
# Change working directory
new_directory = '/content/drive/MyDrive/Python'  # Replace with your desired directory path
%cd "$new_directory"

/content/drive/MyDrive/Python

### Check Files in the Directory:

In [ ]:
# check files in any directory
os.listdir('/content/drive/MyDrive/Python')
# or just os.listdir() for current working directory

##Read/Import Data into Python:

### Reading CSV Files:

You can use the `pandas` library to read CSV files in Colab. If the file is hosted online, you can directly provide the URL. If the file is uploaded to Colab, you can use the file upload widget.

In [2]:
import pandas as pd

#### Read from Google Drive:

In [4]:
data_folder_drive = "/content/drive/MyDrive/data/"
test_data_csv = pd.read_csv(data_folder_drive + "test_data.csv")
test_data_csv.head()

,ID,treat,var,rep,PH,TN,PN,GW,ster,DTM,SW,GAs,STAs
0,1,Low As,BR01,1,84.0,28.3,27.7,35.7,20.5,126.0,28.4,0.762,14.60
1,2,Low As,BR01,2,111.7,34.0,30.0,58.1,14.8,119.0,36.7,0.722,10.77
2,3,Low As,BR01,3,102.3,27.7,24.0,44.6,5.8,119.7,32.9,0.858,12.69
3,4,Low As,BR06,1,118.0,23.3,19.7,46.4,20.3,119.0,40.0,1.053,18.23
4,5,Low As,BR06,2,115.3,16.7,12.3,19.9,32.3,120.0,28.2,1.130,13.72

#### Read from URL:

In [7]:
data_folder = "https://github.com/shiful133/data/raw/main/soil_data/"

test_data_csv = pd.read_csv(data_folder + "test_data.csv")
test_data_csv.head()

,ID,treat,var,rep,PH,TN,PN,GW,ster,DTM,SW,GAs,STAs
0,1,Low As,BR01,1,84.0,28.3,27.7,35.7,20.5,126.0,28.4,0.762,14.60
1,2,Low As,BR01,2,111.7,34.0,30.0,58.1,14.8,119.0,36.7,0.722,10.77
2,3,Low As,BR01,3,102.3,27.7,24.0,44.6,5.8,119.7,32.9,0.858,12.69
3,4,Low As,BR06,1,118.0,23.3,19.7,46.4,20.3,119.0,40.0,1.053,18.23
4,5,Low As,BR06,2,115.3,16.7,12.3,19.9,32.3,120.0,28.2,1.130,13.72

### Reading XLSX Files:

You can also use the pandas library to read XLSX files.

In [42]:
test_data_xlsx = pd.read_excel(data_folder + "test_data.xlsx") # data_folder variable defined in previous code block
# Get Column names of dataframe
column_names = test_data_xlsx.columns.tolist()
print(column_names)

['ID', 'treat', 'var', 'rep', 'PH', 'TN', 'PN', 'GW', 'ster', 'DTM', 'SW', 'GAs', 'STAs']

###Reading .txt Files:
You can use pandas to read TXT files. Reading tab separated, or comma separated txt file is very similar to reading CSV files. Since tab-separated values are essentially a form of delimited text, you can use the read_csv() function of pandas and specify the delimiter as a tab character.

In [34]:
test_data_txt = pd.read_csv(data_folder + "test_data.txt", delimiter='\t') # data_folder variable defined in previous code block
# Show first 5 rows for quick view with .head()
test_data_txt.head()

,ID,treat,var,rep,PH,TN,PN,GW,ster,DTM,SW,GAs,STAs
0,1,Low As,BR01,1,84.0,28.3,27.7,35.7,20.5,126.0,28.4,0.762,14.60
1,2,Low As,BR01,2,111.7,34.0,30.0,58.1,14.8,119.0,36.7,0.722,10.77
2,3,Low As,BR01,3,102.3,27.7,24.0,44.6,5.8,119.7,32.9,0.858,12.69
3,4,Low As,BR06,1,118.0,23.3,19.7,46.4,20.3,119.0,40.0,1.053,18.23
4,5,Low As,BR06,2,115.3,16.7,12.3,19.9,32.3,120.0,28.2,1.130,13.72

###Reading files via upload:

In [ ]:
# Reading CSV from uploaded file
from google.colab import files
uploaded = files.upload()  # Upload the CSV file using the file upload widget

df_uploaded_csv = pd.read_csv(next(iter(uploaded)))

In [ ]:
# Now you can work with df_uploaded_csv
df_uploaded_csv.head()

In [35]:
column_names = test_data_csv.columns.tolist()

print(column_names)

['ID', 'treat', 'var', 'rep', 'PH', 'TN', 'PN', 'GW', 'ster', 'DTM', 'SW', 'GAs', 'STAs']

### Reading JSON Files:
You can use the pandas library to read JSON files into a DataFrame.

In [46]:
test_data_json = pd.read_json(data_folder + "test_data.json")
# Get summary of the dataframe with .info()
test_data_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      42 non-null     int64
 1   treat   42 non-null     object
 2   var     42 non-null     object
 3   rep     42 non-null     int64
 4   PH      42 non-null     float64
 5   TN      42 non-null     float64
 6   PN      42 non-null     float64
 7   GW      42 non-null     float64
 8   ster    42 non-null     float64
 9   DTM     42 non-null     float64
 10  SW      42 non-null     float64
 11  GAs     42 non-null     float64
 12  STAs    42 non-null     float64
dtypes: float64(9), int64(2), object(2)
memory usage: 4.4+ KB

### Read Stata Data Files (.dta):
To read .dta files in Python, you can use the pandas library, which provides support for reading Stata data files. Stata data files have the .dta extension and are commonly used in econometrics and statistics. Here's how you can read a Stata data file using pandas:

In [8]:
test_data_dta = pd.read_stata(data_folder + "test_data.dta")
# Get summary of the dataframe with .info()
print(test_data_dta)

ValueError: ignored

The provided Stata data file is of version 110, but pandas supports importing versions 105, 108, 111, 113, 114, 115, 117, 118, and 119. Since version 110 is not directly supported by pandas, you might face some compatibility issues when trying to read it using the pd.read_stata() function.

There are some third-party libraries, like pyreadstat, which provide more comprehensive support for reading Stata files with various versions, including version 110.

In [ ]:
!pip install pyreadstat

In [44]:
import pyreadstat
test_data_dta = pyreadstat.read_dta(data_folder_drive + "test_data.dta")
# Get summary of the dataframe with .info()
print(test_data_dta)

(    ID    treat        var  rep     PH    TN    PN    GW  ster    DTM     SW  \
0    1   Low As       BR01    1   84.0  28.3  27.7  35.7  20.5  126.0   28.4
1    2   Low As       BR01    2  111.7  34.0  30.0  58.1  14.8  119.0   36.7
2    3   Low As       BR01    3  102.3  27.7  24.0  44.6   5.8  119.7   32.9
3    4   Low As       BR06    1  118.0  23.3  19.7  46.4  20.3  119.0   40.0
4    5   Low As       BR06    2  115.3  16.7  12.3  19.9  32.3  120.0   28.2
5    6   Low As       BR06    3  111.0  19.0  15.3  35.9  14.9  116.3   42.3
6    7   Low As       BR28    1  114.3  21.7  19.3  56.2   6.1  123.7   35.4
7    8   Low As       BR28    2  124.0  25.3  21.0  49.2   9.2  114.3   60.6
8    9   Low As       BR28    3  120.3  23.0  19.0  48.6   4.2  113.3   69.8
9   10   Low As       BR35    1  130.0  19.7  14.7  36.6  12.1  126.0   57.3
10  11   Low As       BR35    2  133.3  21.0  16.3  39.9  11.5  130.7   53.0
11  12   Low As       BR35    3  129.0  17.7  14.3  43.0   8.7  132.3   32.6
12  13   Low As       BR36    1  113.0  18.0  15.7  39.0  13.2  121.7   45.8
13  14   Low As       BR36    2  118.3  23.0  17.3  35.8  28.0  121.7   44.1
14  15   Low As       BR36    3  118.3  29.7  16.3  45.8   6.9  117.0  114.3
15  16   Low As  Jefferson    1   96.7   8.7   8.7  15.9  21.5  121.3   16.8
16  17   Low As  Jefferson    2   94.7   9.7   9.7  18.0  18.6  116.7   16.7
17  18   Low As  Jefferson    3   97.3  12.3  10.3  18.9  16.7  116.7   19.0
18  19   Low As  Kaybonnet    1  134.7  11.7   9.7  34.9   7.8  115.7   35.6
19  20   Low As  Kaybonnet    2  120.7  15.3   9.3  28.9   4.9  114.0   29.0
20  21   Low As  Kaybonnet    3  123.7  12.7   9.3  32.4  10.4  113.3   29.4
21  22  High As       BR01    1   73.0  32.0  21.0  21.8  22.5  132.3   30.3
22  23  High As       BR01    2   77.0  36.3  31.0  31.7  20.1  129.3   34.3
23  24  High As       BR01    3   71.7  24.3  20.7  21.8  20.2  134.3   17.6
24  25  High As       BR06    1   97.7  20.7  14.3  21.2  11.8  131.0   25.6
25  26  High As       BR06    2   90.3  21.3  18.3  18.9  34.4  133.7   24.6
26  27  High As       BR06    3   91.0  18.3  14.3  13.2  58.2  132.7   24.5
27  28  High As       BR28    1   97.0  19.7  15.0  17.0  13.5  128.3   21.2
28  29  High As       BR28    2   92.3  26.3  17.7  21.1  21.3  126.0   28.7
29  30  High As       BR28    3   91.3  24.3  18.3  23.6  27.8  128.7   16.7
30  31  High As       BR35    1   94.3  22.7  12.3  10.0  55.9  154.0   35.2
31  32  High As       BR35    2  102.7  26.3  17.7  18.2  46.6  152.3   41.2
32  33  High As       BR35    3   97.3  22.7  14.0  22.2  52.5  151.7   43.3
33  34  High As       BR36    1  101.3  19.7  14.0  16.8  24.4  133.0   34.2
34  35  High As       BR36    2   94.7  22.0  17.7  24.5  28.5  133.7   30.8
35  36  High As       BR36    3   93.7  19.7  15.3  17.6  49.5  134.3   31.2
36  37  High As  Jefferson    1   72.7  10.3   9.0  11.5  26.6  127.0   14.2
37  38  High As  Jefferson    2   72.3   9.7   8.3  14.1  18.2  128.7   11.6
38  39  High As  Jefferson    3   80.0  13.3  11.0  23.0  12.6  127.0   16.3
39  40  High As  Kaybonnet    1   96.7  14.3   7.7   5.4  57.2  131.7   18.2
40  41  High As  Kaybonnet    2  101.0  15.7   8.0   5.2  82.8  130.7   28.7
41  42  High As  Kaybonnet    3  105.3  13.7  10.0  15.0  54.7  128.7   28.5

      GAs   STAs
0   0.762  14.60
1   0.722  10.77
2   0.858  12.69
3   1.053  18.23
4   1.130  13.72
5   1.011  15.97
6   0.965  14.49
7   0.969  16.02
8   0.893  15.25
9   1.358  21.23
10  1.359  19.37
11  1.290  20.30
12  0.832  19.23
13  0.903  12.34
14  0.932  15.78
15  0.610  13.50
16  0.605   9.32
17  0.629  11.41
18  1.005  15.89
19  1.020   9.30
20  0.946  12.59
21  1.482  25.41
22  1.548  19.12
23  1.564  22.27
24  1.451  24.15
25  1.413  18.77
26  1.396  21.46
27  1.521  28.49
28  1.553  30.96
29  1.698  29.73
30  2.448  26.22
31  2.493  20.97
32  2.458  23.59
33  1.881  24.75
34  1.997  19.40
35  1.934  22.08
36  1.897  23.45
37  1.872  18.60
38  2.007  21.02
39  1.888  20.27
40  1.889  22.51
41  1.767  21.39  , <pyreadstat._readstat_parser.metadata_container object at 0x7e4bb72238e0>)

In [41]:
import requests

# Download the file using requests
response = requests.get(data_folder + "test_data.txt")

if response.status_code == 200:
    # Extract the filename from the URL
    filename = file_url.split("/")[-1]
 # Save the content to a local file
    with open("/content/"+filename, "wb") as f:
        f.write(response.content)
    print(f"File '{filename}' downloaded successfully.")
else:
    print("Failed to download the file.")

File 'test_data.txt' downloaded successfully.