<a href="https://colab.research.google.com/github/shiful133/r-python/blob/main/Python_Data_Import_Export.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Import-Export in Python**
Importing and exporting data in Google Colab, which is a popular platform for working with Python notebooks, involves using various libraries and methods to handle different file formats. Here's a brief guide on how to perform data import and export in Python Colab:

## Working Directory
In Google Colab, the working directory is set to the root directory by default. This root directory contains the Colab notebooks, and you can access files from your Google Drive as well. However, if you want to navigate and work within a specific directory, you can use the %cd magic command to change the current directory. Here's how you can get and change the working directory in Google Colab:

### Get Current Working Directory:

In [ ]:
import os

# Get current working directory
current_directory = os.getcwd()
print("Current Directory:", current_directory)

### Mounting Google Drive:
If you want to access files from your Google Drive or change working directory to a folder in Google Drive, you'll need to mount your Google Drive using the drive.mount() function.

In [2]:
from google.colab import drive

drive.mount('/content/drive')  # Mount Google Drive

Mounted at /content/drive

###Change Working Directory:

In [3]:
# Change working directory
new_directory = '/content/drive/MyDrive/Python'  # Replace with your desired directory path
%cd "$new_directory"

/content/drive/MyDrive/Python

### Check Files in the Directory:

In [ ]:
# check files in any directory
os.listdir('/content/drive/MyDrive/Python')
# or just os.listdir() for current working directory

##Read/Import Data into Python:

### 1. Reading CSV Files:

You can use the `pandas` library to read CSV files in Colab. If the file is hosted online, you can directly provide the URL. If the file is uploaded to Colab, you can use the file upload widget.

In [5]:
import pandas as pd

In [ ]:
data_folder = "https://github.com/shiful133/data/raw/main/soil_data/"

test_data_csv = pd.read_csv(data_folder + "test_data.csv")
test_data_csv.head()

### 2. Reading XLSX Files:

You can also use the pandas library to read XLSX files.

In [ ]:
test_data_xlsx = pd.read_excel(data_folder + "test_data.xlsx") # data_folder variable defined in previous code block
test_data_xlsx.head()

###3. Reading TXT Files:
You can use pandas to read TXT files. Reading tab separated, or comma separated txt file is very similar to reading CSV files. Since tab-separated values are essentially a form of delimited text, you can use the read_csv() function of pandas and specify the delimiter as a tab character.

In [27]:
test_data_txt = pd.read_csv(data_folder + "test_data.txt", delimiter='\t') # data_folder variable defined in previous code block
test_data_txt.head()

,ID,treat,var,rep,PH,TN,PN,GW,ster,DTM,SW,GAs,STAs
0,1,Low As,BR01,1,84.0,28.3,27.7,35.7,20.5,126.0,28.4,0.762,14.60
1,2,Low As,BR01,2,111.7,34.0,30.0,58.1,14.8,119.0,36.7,0.722,10.77
2,3,Low As,BR01,3,102.3,27.7,24.0,44.6,5.8,119.7,32.9,0.858,12.69
3,4,Low As,BR06,1,118.0,23.3,19.7,46.4,20.3,119.0,40.0,1.053,18.23
4,5,Low As,BR06,2,115.3,16.7,12.3,19.9,32.3,120.0,28.2,1.130,13.72

In [ ]:
import pandas as pd

# Reading CSV from uploaded file
from google.colab import files
uploaded = files.upload()  # Upload the CSV file using the file upload widget

df_uploaded_csv = pd.read_csv(next(iter(uploaded)))

# Now you can work with df_uploaded_csv
df_uploaded_csv.head()

In [20]:
df_uploaded_csv.head()

,ID,x,y,xm,ym,DIVISION_NAME,DISTRICT_NAME,Land_type,pH,SOM,DEM,NDFI,NDVI
0,1,88.255990,24.468378,323244.6799,2707198.588,RAJSHAHI,CHAPAI,Medium Lowland,7.5,1.9,14.000000,0.131788,0.013138
1,2,89.097064,23.987028,408149.5982,2653084.583,RAJSHAHI,PABNA,Medium Lowland,8.1,0.6,13.659257,-0.160908,0.417266
2,3,89.024314,24.146635,400871.4946,2670806.562,RAJSHAHI,NATORE,Highland,8.1,1.4,16.362682,-0.037456,0.332249
3,4,88.968068,24.144192,395154.5792,2670576.953,RAJSHAHI,NATORE,Medium Highland 2,8.1,2.0,7.431497,0.075036,-0.004695
4,5,89.287639,23.971969,427528.0026,2651306.118,RAJSHAHI,PABNA,Medium Lowland,7.6,2.7,12.644185,-0.123364,0.372567